.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
docs/manual.aux
docs/manual.fdb_latexmk
docs/manual.fls
docs/manual.log
docs/manual.pdf
docs/manual.synctex.gz
docs/manual.toc
result.txt
test_long2.pcapng
docs/*
*test*
isa*
diffs*
*.tar